@model IEnumerable<ASP.NET_DBFirst.Models.Employee>

@{
    ViewBag.Title = "EmployeeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EmployeeList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.C_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C_Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C_City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C_Salary)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.C_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C_Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C_City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C_Salary)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.C_EmployeeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.C_EmployeeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.C_EmployeeId })
        </td>
    </tr>
}

</table>
